.vs/cardgame/v16/ipch/AutoPCH/3214d0511bc1c22d/TITLE.ipch
.vs/cardgame/v16/ipch/AutoPCH/41f08994f65613a/MAIN.ipch
.vs/cardgame/v16/ipch/AutoPCH/49b23b8f22302df3/COMMON.ipch
.vs/cardgame/v16/ipch/AutoPCH/698b29361bee0bad/FARROW.ipch
.vs/cardgame/v16/ipch/AutoPCH/853d0b50b0055f80/SETGAME.ipch
.vs/cardgame/v16/ipch/AutoPCH/94daf0363476a824/FARROW.ipch
.vs/cardgame/v16/ipch/AutoPCH/a4ec46c4d5338ea5/HOME.ipch
.vs/cardgame/v16/ipch/AutoPCH/bdd626e1433c732b/HINDU.ipch
.vs/cardgame/v16/ipch/AutoPCH/c3c967739a38276b/INPUTNUMBERBUTTON.ipch
.vs/cardgame/v16/ipch/AutoPCH/e2661450e43030b9/SETGAME.ipch
.vs/cardgame/v16/ipch/AutoPCH/ea7666007316a90c/INPUTNUMBERBOTTON.ipch
.vs/cardgame/v16/ipch/AutoPCH/f0917ac2c59520fb/COMMON.ipch
.vs/cardgame/v16/.suo
.vs/cardgame/v16/Browse.VC.db
.vs/cardgame/v16/Browse.VC.db-shm
.vs/cardgame/v16/Browse.VC.db-wal
.vs/cardgame/v16/Browse.VC.opendb
Intermediate/cardgame/Debug/Intermediate/cardgame.tlog/cardgame.lastbuildstate
Intermediate/cardgame/Debug/Intermediate/cardgame.tlog/cardgame.write.1u.tlog
Intermediate/cardgame/Debug/Intermediate/cardgame.tlog/CL.command.1.tlog
Intermediate/cardgame/Debug/Intermediate/cardgame.tlog/CL.read.1.tlog
Intermediate/cardgame/Debug/Intermediate/cardgame.tlog/CL.write.1.tlog
Intermediate/cardgame/Debug/Intermediate/cardgame.tlog/link.command.1.tlog
Intermediate/cardgame/Debug/Intermediate/cardgame.tlog/link.read.1.tlog
Intermediate/cardgame/Debug/Intermediate/cardgame.tlog/link.write.1.tlog
Intermediate/cardgame/Debug/Intermediate/cardgame.tlog/rc.command.1.tlog
Intermediate/cardgame/Debug/Intermediate/cardgame.tlog/rc.read.1.tlog
Intermediate/cardgame/Debug/Intermediate/cardgame.tlog/rc.write.1.tlog
Intermediate/cardgame/Debug/Intermediate/cardgame(debug).exe.recipe
Intermediate/cardgame/Debug/Intermediate/cardgame.log
Intermediate/cardgame/Debug/Intermediate/Farrow.obj
Intermediate/cardgame/Debug/Intermediate/Hindu.obj
Intermediate/cardgame/Debug/Intermediate/Home.obj
Intermediate/cardgame/Debug/Intermediate/InputNumberBotton.obj
Intermediate/cardgame/Debug/Intermediate/Main.obj
Intermediate/cardgame/Debug/Intermediate/Resource.res
Intermediate/cardgame/Debug/Intermediate/SetGame.obj
Intermediate/cardgame/Debug/Intermediate/Title.obj
Intermediate/cardgame/Debug/Intermediate/vc142.idb
Intermediate/cardgame/Debug/Intermediate/vc142.pdb
Intermediate/cardgame/Debug/cardgame(debug).exe
Intermediate/cardgame/Debug/cardgame(debug).exp
Intermediate/cardgame/Debug/cardgame(debug).ilk
Intermediate/cardgame/Debug/cardgame(debug).lib
Intermediate/cardgame/Debug/cardgame(debug).pdb
App/AS_DEBUG/stats.txt
App/engine/emoji/noto7_dictionary.dat
App/engine/font/fontawesome/fontawesome-brands.otf.zstdcmp
App/engine/font/fontawesome/fontawesome-solid.otf.zstdcmp
App/engine/font/fontawesome/LICENSE.txt
App/engine/font/mplus/LICENSE_E
App/engine/font/mplus/mplus-1p-black.ttf.zstdcmp
App/engine/font/mplus/mplus-1p-bold.ttf.zstdcmp
App/engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp
App/engine/font/mplus/mplus-1p-light.ttf.zstdcmp
App/engine/font/mplus/mplus-1p-medium.ttf.zstdcmp
App/engine/font/mplus/mplus-1p-regular.ttf.zstdcmp
App/engine/font/mplus/mplus-1p-thin.ttf.zstdcmp
App/engine/font/noto/LICENSE_OFL.txt
App/engine/font/noto/NotoColorEmoji.ttf.zstdcmp
App/engine/font/noto/NotoEmoji-Regular.ttf.zstdcmp
App/engine/objdetect/haarcascade/eye.xml.zstdcmp
App/engine/objdetect/haarcascade/eye_eyeglasses.xml.zstdcmp
App/engine/objdetect/haarcascade/face_anime.xml.zstdcmp
App/engine/objdetect/haarcascade/frontal_catface.xml.zstdcmp
App/engine/objdetect/haarcascade/frontal_face_alt2.xml.zstdcmp
App/engine/shader/copy.ps
App/engine/shader/fullscreen_triangle_draw.ps
App/engine/shader/fullscreen_triangle_draw.vs
App/engine/shader/fullscreen_triangle_resolve.ps
App/engine/shader/fullscreen_triangle_resolve.vs
App/engine/shader/gaussian_blur_9.ps
App/engine/shader/round_dot.ps
App/engine/shader/sdf.ps
App/engine/shader/shape.ps
App/engine/shader/sprite.vs
App/engine/shader/square_dot.ps
App/engine/shader/texture.ps
App/engine/soundfont/GMGSx.sf2.zstdcmp
App/engine/texture/box-shadow/128.png
App/engine/texture/box-shadow/16.png
App/engine/texture/box-shadow/256.png
App/engine/texture/box-shadow/32.png
App/engine/texture/box-shadow/64.png
App/engine/texture/box-shadow/8.png
App/example/config/config.csv
App/example/config/config.ini
App/example/config/config.json
App/example/config/config.toml
App/example/config/config.xml
App/example/font/AnnyantRoman/AnnyantRoman.ttf
App/example/font/AnnyantRoman/readme.txt
App/example/font/LogoTypeGothic/LICENSE_E
App/example/font/LogoTypeGothic/LogoTypeGothic.otf
App/example/font/LogoTypeGothic/ReadMe_windows.txt
App/example/font/NotoSansCJKjp/LICENSE_OFL.txt
App/example/font/NotoSansCJKjp/NotoSansCJKjp-Regular.otf
App/example/font/NotoSansCJKjp/README
App/example/font/Pecita/LICENSE
App/example/font/Pecita/Pecita.otf
App/example/gui/gui.toml
App/example/script/paint.txt
App/example/script/test.txt
App/example/shader/2d/default_shape.hlsl
App/example/shader/2d/default_texture.hlsl
App/example/shader/2d/game_of_life.hlsl
App/example/shader/2d/grayscale.hlsl
App/example/shader/2d/multi_texture_blend.hlsl
App/example/shader/2d/multi_texture_mask.hlsl
App/example/shader/2d/poisson_disk.hlsl
App/example/shader/2d/posterize.hlsl
App/example/shader/2d/rgb_shift.hlsl
App/example/shader/2d/rgb_to_bgr.hlsl
App/example/shader/2d/swirl.hlsl
App/example/svm/a1a_testing
App/example/svm/a1a_training
App/example/zip/zip_test.zip
App/example/bay.jpg
App/example/LICENSE.txt
App/example/particle.png
App/example/shot.mp3
App/example/siv3d-kun.png
App/example/test.gif
App/example/test.mp3
App/example/test.toml
App/example/test.txt
App/example/test.xml
App/example/windmill.png
App/nlp/japanese/jumanpp/LICENSE
App/nlp/japanese/jumanpp/README.md
App/cardgame(debug).exe
App/cardgame(debug)_log.html
App/icon.ico
App/Resource.rc
cardgame.vcxproj.user
cardgame.vcxproj.filters
cardgame.vcxproj
cardgame.sln
